.section-collectibles {
  background-image: url("../../../images/Projects\ Section.webp");
  background-size: 576px;
}

.section-multi {
  background-image: url("../../../images/Projects\ Section.webp");
  background-size: 960px;
}

.section-stayhuman {
  background-image: url("../../../images/home-background.png");
  background-size: cover;
  height: 120vh;
}

.section-section {
  background-image: url("../../../images/Section.png");
  background-size: 500px;
}
