.section-collectibles {
  background-image: url("../../../images/62bacd30fa2cce04546413f8_Projects\ Section.webp");
  background-size: 576px;
}

.section-multi {
  background-image: url("../../../images/62bacd30fa2cce04546413f8_Projects\ Section.webp");
  background-size: 960px;
}

.section-stayhuman {
  background-image: url("../../../images/62e481b3e4a0474dbafb520e_home-background.png");
  background-size: cover;
  height: 120vh;
  
}
