.btn {
  border-color: #000000;
  border-width: 3px;
}

.btn-primary {
  &:hover {
    box-shadow: -3px 3px #000;
  }
}

.btn-primary-dark {
  border-color: #ffffff;
  background-color: #000000 !important;
  color: #ffffff;
  &:hover {
    box-shadow: -3px 3px #000;
  }
}

.btn-secondary {
  background-color: #000000 !important;
  color: #ffffff;
  &:hover {
    box-shadow: -3px 3px #000;
    background-color: #e03327 !important;
  }
}

.btn-secondary-dark {
  border-color: #ffffff;
  background-color: #ffffff !important;
  color: #000000;
  &:hover {
    box-shadow: -3px 3px #000;
  }
}

.btn-tertiary {
  color: #000000;
  border-color: #bb7a00;
  background-color: #ffd91a !important;
  &:hover {
    box-shadow: -3px 3px #bb7a00;
    background-color: #e1ff00 !important;
  }
}
