@tailwind base;
@tailwind components;
@tailwind utilities;

/* //Lora */

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* TTCommonsPro */


@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./assets/fonts/Lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
